version: '3.8'

services:
  backend:
    build:
      context: ./backend
    restart: always
    expose:
      - 5001

  frontend:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    restart: always